<?php

if (!is_dir(__DIR__.'/src')) {
    exit(0);
}

return PhpCsFixer\Config::create()
            ->setRiskyAllowed(true)
            ->setRules([
                'array_syntax'                => ['syntax' => 'short'],
                'protected_to_private'        => false,
                'no_blank_lines_after_phpdoc' => true,
                'blank_line_after_namespace'  => true,
                'no_empty_phpdoc'             => true,
                'phpdoc_align'                => true,
                'phpdoc_indent'               => true,
                'phpdoc_trim'                 => true,
                'phpdoc_inline_tag'           => true,
                'phpdoc_separation'           => true,
                'phpdoc_no_package'           => true,
                'no_unused_imports'           => true,
                'blank_line_before_statement' => [
                    'statements' => [
                        'return',
                        'try',
                    ],
                ],
            ])
            ->setFinder(
                PhpCsFixer\Finder::create()
                    ->in(__DIR__ . '/src')
                    ->in(__DIR__ . '/tests')
            );